<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings file="Configs/DEV.app.config">
    <add key="Version" value="1.0.0.0" />
  </appSettings>
 
  <log4net configSource="Configs\Log4Net.DEV.config" />



</configuration>